<div class="container">

  <div id="disqus_thread"></div>
  <script type="text/javascript">
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  var disqus_shortname = '{{- disqus-id -}}'; // required: replace example with your forum shortname
  // var disqus_developer = 1; // Comment out when the site is live
  var disqus_identifier = "{{ page.url }}";

  /* DON'T EDIT BELOW THIS LINE */
  (function() {
  var d = document, s = d.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div><!-- /.container -->
