<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-sm-6">
        <p>Copyright &copy; Matevž Dolenc. All rights reserved.</p>
      </div>

      <div class="col-sm-6">
        <ul class="list-unstyled list-inline list-social-icons pull-right">
          <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/matevzdolenc" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li class="tooltip-social twitter-link"><a href="https://twitter.com/matevzdolenc" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>

          <!--
          <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <li class="tooltip-social github-link"><a href="#github-profile" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a></li>
          -->
        </ul>
      </div>
    </div>
  </footer>

</div><!-- /.container -->
